@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 1920px;
  margin: 0 auto;
}

.navbar {
  height: 100px;
  width: 1920px;
  background: #020A18;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 50px;
  height: 45px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding-right: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar .nav_btn button {
  height: 50px;
  width: 110px;
  background-color: #3A68B8;
  border-radius: 5px;
  color: #fff;
}

.navbar .nav_logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar .nav_logo a {
  text-decoration: none;
  padding-left: 5px;
  color: #3A68B8;
}

.banner {
  display: flex;
  background-color: #020A18;
  height: 930px;
  width: 1920px;
  justify-content: center;
}

.banner .banner_img {
  width: 635px;
  height: 635px;
}

.banner .banner_img img {
  width: 635px;
  height: 635px;
}

.banner .platform {
  width: 635px;
  margin-top: 160px;
}

.banner .platform a {
  text-decoration: none;
  font-size: 18px;
}

.banner .platform h1 {
  color: #fff;
  font-size: 55px;
  font-family: "open sans";
  margin-top: 10px;
}

.banner .platform p {
  color: #fff;
  margin-top: 40px;
  width: 550px;
  opacity: 0.7;
  font-weight: 600;
  font-family: "open sans";
}

.banner .banner_btn {
  display: flex;
}

.banner .banner_btn button {
  width: 170px;
  height: 55px;
  background-color: #3A68B8;
  border-radius: 5px;
  margin-top: 50px;
  margin-right: 15px;
  color: #fff;
}

.banner_logo {
  margin-top: -200px;
  display: flex;
  height: 200px;
  width: 1920px;
  background-color: #020A18;
  justify-content: space-around;
  align-items: center;
}

.banner_logo img {
  width: 235px;
}

.about {
  width: 1920px;
  height: 1030px;
  display: flex;
  background-color: rgb(3, 3, 17);
  margin: 0 auto;
  justify-content: center;
}

.about .about_img {
  width: 725px;
  height: 670px;
}

.about .about_img img {
  width: 100%;
  height: 100%;
}

.about .about_text {
  padding-left: 70px;
}

.about .about_text h1 {
  font-size: 40px;
  color: #fff;
  margin-top: 310px;
  width: 554px;
  font-family: "open sans";
}

.about .about_text p {
  margin-top: 30px;
  color: #fff;
  width: 500px;
}

.about button {
  margin-top: 50px;
  height: 50px;
  width: 150px;
  background-color: #3A68B8;
  color: #fff;
  border-radius: 5px;
}

.feature {
  display: flex;
  width: 1920px;
  height: 400px;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(3, 3, 17);
  margin: 0 auto;
}

.feature .content {
  height: 390px;
  width: 360px;
  text-align: center;
  background: rgb(27, 27, 27);
  border-radius: 10px;
  padding: 30px;
  color: #fff;
}

.feature .content .cont_img {
  width: 100px;
  height: 100px;
  margin: 40px auto;
}

.feature .content .cont_img img {
  width: 100%;
  height: 100%;
}

.feature .content p {
  opacity: 0.7;
  font-weight: 600;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */